fieldset {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
table {
  margin-left: 30px;
}
tr {
  height: 50px;
  padding: 50px;
}
i {
  padding: 0px 10px;
}
.button-list {
  margin-top: 30px;
  display: flex;
}
