h1.display-none{
    display: none;
}

/* ============== */
main{
    width: 80%;
    margin: auto;
}

.crumb{
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
}
.aside{
    margin-left: -160px;
}

.product-box{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-auto-rows: 400px;
    grid-gap: 20px;    
}

.images{
    border: 1px solid rgb(172, 143, 172);
    text-align: center;

}
	.thumb>img{
		width: 300px;
		height: 250px;
		overflow: hidden;
    }
    .information{
        padding: 0px 10px;
    }
    .information-box{
        background: rgb(246, 242, 242);
        height: 230px;
        font-size: 17px;
        padding: 10px 35px;
    }
        .information-box>h1{
            font-size: 40px;
        }    
        .information-box>select{
            width: 200px;
            height: 30px;
            font-size: 15px;
        }



        .information-box>input{
            width: 25px;
            height: 20px;
            padding: 4px 8px;
            text-align: center;
        }
        .count{
            display: inline-block;
            margin-right: 37px;
        }
        .information-box>button{
            width: 30px;
            height: 30px;
        }
        .option{
            margin-right: 35px;
        }


.price-box{
    
    width: 100%;
    height: 150px;
    --display: flex;
    --border: blue 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    --border-collapse: separate;
    
}
    
    .price-box-common{
        height: 50px;
        text-align: center;
        line-height: 50px;
        font-size: 25px;
        color: aliceblue;
        width: 400px; 
        border: none;
        
    }
    .price{
        background:  rgb(70, 170, 131);      
        flex-basis: 200px;

    }
    .basket{
        background: #5d80ca;
        flex-basis: 200px;
    }
    .buy{
        background: rgb(70, 170, 131);     
        flex-basis: 200px;
    }


	




.mt10{
    margin-bottom: 18px;
}



.search-list{
	text-align: right;
	color: #ff8000;
}




/* 
==================
.main-body > .container {
    border: 1px solid blue;
    margin-top: 30px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .main-body > .container > div {
    border: 2px solid red;
  }
  .main-body > .container > div:nth-child(1) {
    grid-row: 1/3;
  }
  .main-body > .container > div:nth-child(3) {
    grid-column: 2/4;
  }
  
  
  
  =========
  .main-body > .container {
    margin-top: 30px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 30px;
  } */