/* ============header============= */




  /* ============main 클라이언트 상품 관리 페이지============= */
main{
    width: 80%;
    margin: auto;
}

.location{
    display: flex;
    justify-content: space-between;
    height: 150px;
    align-items: center;
}
.aside{
    margin-left: -160px;
}

.list{

}
.list img{
    /* object-fit: cover; */
}

.list span{
    display: block;
}

.item-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 400px;                   
    grid-gap: 20px;
}

.item{
    border: 1px solid purple;
    text-align: center;

}
	.item>img{
		width: 300px;
		height: 300px;
		overflow: hidden;
	}
	
	
.search-list{
	text-align: right;
	color: #ff8000;
}

  /* ============footer============= */
     .pager-menu, .pager-menu>ul{
      display: flex;
      align-items: center;
      justify-content: center;      
      color: #000;
      font-size: 16px;     
    }
    .pager-menu>ul{
    	height: 80px;    	
    }
    .pager-menu li{
    	border: solid #808080 1px;
    	width: 30px;
    	text-align:center;
    	background: #ffb164;
    	color: white;
    	font-weight: 700;
    }
    
    .img-button{
    	font-size: 16px;
    	padding: 0 10px 0 10px;
    	border: solid #808080 1px;
    }
    
