@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");  
  
  /* ============main============= */
  main{
    font-family: "JUA", sans-serif;
  }
  
  .main-head {
    height: 500px;
    background: url("http://via.placeholder.com/1980x500") no-repeat;
    background-size: 100% 100%;
    background-position: center;
    position: relative;
  }

    .main-head span{
        position: absolute;
        top: 100px;
        left: 200px;
        font-size: 40px;
    }

    .main-body .submenu{
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 40px;
        
    }

    .main-body a{
        text-decoration: none;
    }

    .main-body .submenu div{
        background: #5d80ca;
        width: 250px;
        border-radius: 10px;
        font-size: 30px;
        margin: 20px;
        padding: 10px;
        color: #fff;
    }

    .main-body .submenu div:hover{
        background: #255499;
    }
    
.content-title{
  display: flex;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid black;
}
.question-content{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.question-content ul li{
    border-bottom: 1px solid #999999;
    width: 1200px;
    line-height: 40px;
    margin: 15px 0px;
}

.question-content ul li span{
    font-size: 30px;
    margin-left: 40px;
}

.question-content ul li p{
    margin-left: 80px;
    font-size: 20px;
    margin-bottom: 15px;
}

.info{
  display: flex;
  justify-content: center;
  margin: 10px;
}

/* ===============CONTECT-US==================== */

.contect-us{
  width: 100%;
  height: 400px;
  background: rgb(221, 221, 221);
}

.contect-us span{
  display: block;
  text-align: center;
  margin: 10px;
  font-size: 20px;
}

.contect-us span:nth-child(1){
  padding-top: 15px;
}

.contect-list{
    display: flex;
    justify-content: center;
}

.item{
    text-align: center;
    margin: 20px;
}

.contect-list img{
  width: 100px;
  height: 100px;
}
