.body{
    background: rgb(102, 96, 177);
    width: auto;
    font-family: "�룍��",Arial, Helvetica, sans-serif;
    font-size: 13px;
}
    .body .header{
        height: 50px;
        position: relative;
    }
        .body .header>h1{
            display: inline-block;
        }
        .body .header div{
            position: absolute;
            right: 20px;
            bottom: 0px;
        }
.main{
    background: white;
}
    .main form{
        padding: 10px;
    }
    .main table{
        border: 1px solid black;
        border-left: none;
        border-collapse: collapse;
        width: 100%;
    }
    .main table th {
        background: #ece3e3;
        text-align: center;
        padding: 5px 10px;
        border: 1px solid rgb(209, 202, 202);
        border-left: none;
        width: 30%
    }
    /* .main table tr th+td{
        column-span: 1;
    } */
    .main table td{
        border: 1px solid rgb(209, 202, 202);
    }
    
    /* .main table tr .right-button{
        background: url(../../../image/admin/right-button.png) no-repeat center;
        width: ;
        background: yellow;
    } */



        
    /* img src="../../image/admin/right-button.png" */

.inner-table{
    width: 100%;
}

.inner-table tr th{
    background: rgb(177, 173, 235);
    width: 30%
}
