@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap"); /* -----------------공통------------ */
html {
  font-family: "Nanum Gothic", sans-serif;
}

/* ====================    body  ===============================/ */

.body {
  display: flex;
  min-height: 650px;
  width: 100%;
  box-sizing: border-box;
}
.aside-title {
  --background-color: red;
  display: inline-block;
  flex-basis: 42px;
  margin-bottom: 10px;
}
/* .body > .aside {
  box-sizing: border-box;
  min-width: 210px;
  border-right: 1px solid #f2f2f2;
  flex: 0 0 210px;
  display: flex;
  flex-direction: column;
}

.aside-title {
  background-color: red;
  display: inline-block;
  flex-basis: 42px;
  margin-bottom: 10px;
}
/* .aside-menu {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  --background-color: blue;
  flex-grow: 1;
}
.aside-menu li {
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: 10px;
  padding-top: 20px;
}
.aside-menu > ul > li > a {
  font-size: 0.8em;
  font-weight: normal;
  margin-left: 20px;
  line-height: 25px;
}
.aside-menu > ul > li > a::before {
  content: "> ";
  font-size: 1px;
  position: relative;
  top: -3px;
} */

/* ===============  main  ================================================ */

.body > .main-section { /* main 기본 폰트 */
  font-family: "맑은 고딕","고딕",Arial, Helvetica, sans-serif;
  flex: 1 0 auto;
  min-width: 700px;
  display: flex;
  flex-direction: column;
}

  .body > .main-section .main-title {
    background-color: #f2f2f2;
    flex-basis: 42px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
    .body > .main-section .main-title > span {
      font-weight: lighter;
      font-size: 10px;
    }

  .main-section .main {
    padding: 35px 10px 0 40px;
    flex-grow: 1;
    width: auto;
  }

    .main-section .main h1{
      font-weight: bold;
      font-size: 20px;
    }
      .main table{
        width: 100%; /* table 너비 끝까지 */
        border: 1px solid black;
        flex-shrink: 0px;
      }

      .main table tr th{
        background: #f2f2f2;
        font-weight: bold;
        padding: 5px 40px 5px 5px;  /* th 공간 갖기 */
      }

      .main>table tr td{ 
        font-family: "돋움",Arial, Helvetica, sans-serif;
        padding: 0px 10px;  
      }
      .main>table tr td [type="text"]{
        background:#f2f2f2;
        border: none;
        outline: none;
      }
      .main .del-button{
        padding: 1px;
        text-align: right;
      }
    .main table thead tr td{
      background: rgb(132, 194, 52);
      text-align: center;
    } 
    .main table tbody td{
      text-align: center;
    }
    .main .page-list{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .main .page-list ul li{
      padding: 0px 20px;
      float: left;
      }
    .main .page-list ul li:hover{
      color: black;
      font-size: 25px;
      }

.footer {
  min-height: 100px;
  background-color: gray;
  text-align: center;
}
/* -------------product-detail----------- */
