/* ============main============= */
.main-head {
  margin-top: 2px;
  height: 500px;
  background: url(../image/main_banner.png) no-repeat;
  background-size: 100% 100%;
  background-position: center;
  position: relative;
  width: 70%;
  margin: auto;
}
.main-head > .shortcut {
  display: inline-block;
  position: absolute;
  right: 70px;
  bottom: 30px;
  padding: 10px;
}

.main-body > .container {
  border: 1px solid blue;
  margin-top: 30px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 30px;
}

.main-body > .container > div {
  border: 2px solid red;
}
.main-body > .container > div:nth-child(1) {
  /* grid-row: 1/3; */
}
.main-body > .container > div:nth-child(3) {
  /* grid-column: 2/4; */
}
