/*전체*/
@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");

header,
footer {
  font-family: "JUA", sans-serif;
  min-width: 1400px;
}
.submit-button {
  color: #255499;
  background-color: #e8c6c5;
}
main {
  font-family: "Nanum Gothic", sans-serif;
}
a:hover {
  text-decoration: none;
}
/* ============헤더============= */
header {
  width: 100%;
  position: sticky;
  top: 0;
  background-color: #e3a24b;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
header > h1 {
  flex-grow: 1;
}
header > h1 > img {
  width: 140px;
  height: 140px;
}
header > nav:nth-child(2) {
  flex-grow: 1;
  text-align: center;
}
header > nav:last-child {
  flex-grow: 1;
  text-align: right;
}

nav > ul {
  display: flex;
  font-size: 20px;
  color: white;
}
nav > ul li:hover {
  color: #00b2d2;
  transition: 1s;
}
nav:nth-child(2) > ul {
  display: flex;
  justify-content: space-around;
}
nav:last-child > ul {
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
}
nav:last-child > ul > li {
  margin-right: 20px;
}

/* ============푸터============ */
.footer {
  background: #e3a24b;
  height: 100px;
}
.footer-copyright {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer-copyright table th,
.footer-copyright table td {
  text-align: center;
}

.footer-copyright tr td {
  width: 300px;
}
