.aside-title {
  background: url(../../../image/admin/board-aside.png) no-repeat;
}

/* -------------admin-notice-reg----------- */

.content{
    height: 100%;
    margin: 35px;
  }

.table-wrap{
    line-height: 40px;
    font-size: 15px;
    width: 90%;
    border: 1px solid #111;
    border-collapse: collapse;
  }

  .table-wrap th{
    font-family: "留��� 怨���", sans-serif;
    text-align: center;
    background: rgba(0, 0, 0, 0.1);
    width: 120px;
  }

.texta{
    width: 100%;
}

.btn{
    width: 20%;
    top: 20px;
    left: 43%;  
  }

.list-btn{
  position: relative;
  left: 0%;
}

.other-btn{
  position: relative;
  top: -5px;
  left: 80%;
}

  .butt{
    position: relative;
    background: rgba(0,0,0,0.1);
    width: 60px;
    height: 30px;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
  }
  
  .butt:hover{
    background: #fff;
  }
