.aside-title {
  background: url(../../../image/admin/board-aside.png) no-repeat;
}

/* -------------admin-index----------- */

th, tr, td{
  border-bottom: 2px solid #444444;
  padding: 10px;
}

.title-name{
	padding-left : 30px;
}

.content{
  width: 100%;
  height: 100%;
}

.notice{
  width: 80%;
  border-top: 2px solid #444444;
  border-collapse: collapse;
}
  .notice>thead{
    background: rgba(0,0,0,0.1);
  }

.no{
  text-align: center;
}

/* flex濡� 以��닿굅�� ��由대�� 媛��� ���� ��怨� �띠�쇰㈃ 鍮쇨린 */
.arti > a{
  position: relative;
  left: 30px;
}

.date{
  text-align: center;
}

.pagelist{
  position: relative;
  width: 300px;
  left: 32%;
  top: 30px;
  margin: 0 10px;
  display: flex;
  justify-content: center;
}

.pagelist div{
  width: 31px;
  height: 20px;
}

.pagelist ul li{
  float: left;
  padding: 0 10px;
}

.butt{
  position: relative;
  left: 70%;
  background: rgba(0,0,0,0.1);
  width: 60px;
  height: 30px;
  text-align: center;
  border-radius: 10px;
}

.butt:hover{
  background: #fff;
}

